{% extends 'base.html' %}

{% block title %} About Us {% endblock %}
{% block aboutactive %} active {% endblock aboutactive %}


{% block content %}
<div class="container p-2">
    <p class="fs-4">About Us</p>
    <p>We are individuals to privide a platform for those who are seeking for a paying guest for their house and for
        those, who are searching for rental house. In other words we are only helping both to do this thing over the
        internet and increase their reach and accesibility.</p>
    <hr>
    <p class="fs-4">How it works</p>
    <p>The whole things is going on between two parties:</p>
    <h5>1. Host:</h5>
    <p> Host is the person who posted their house on this site, for the paying guest. We help
        the host to show their house to lots of seeking paying guest and interested paying guest are free to contact the
        owner for the house on immediate basis.</p>
    <h5>2. Guest:</h5>
    <p> Guest is the person who is searching for a rental house on this site. we give lots of
        options the guest to view the house and choose the correct house according to their needs.</p>
</div>
{% endblock %}