{% extends 'base.html' %}
{% load static %}

{% block title %} Password Rest {% endblock title %}

{% block head_block %}
<!-- Custom css for account app -->
<link rel="stylesheet" href="{% static 'css/reset_password.css' %}">
{% endblock head_block %}

{% block content %}
<div class="reset-password p-3">
    <h3>Password reset sent</h3>
    <hr>

    <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You
        should receive them shortly.</p>

    <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your
        spam folder.</p>
</div>
{% endblock %}