{% extends 'base.html' %}

{% block title %} Update Password {% endblock %}

{% block head_block %}
<style>
    html,
    body {
        height: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    .custom-body-content {
        height: 100%;
        width: 100%;
    }
</style>
{% endblock %}

{% block content %}
<div class="update-password p-3 ">
    <p class="fs-4 mt-3">Update Password Using Old Password</p>
    <hr>
    <form action="{% url 'update_password' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="old-pass" class="form-label">Old Password</label>
            {{form.old_password}}
            {{form.old_password.errors}}
        </div>
        <div class="mb-3">
            <label for="fname" class="form-label">New Password</label>
            {{form.new_password1}}
            {{form.new_password1.errors}}
        </div>
        <div class="mb-3">
            <label for="lname" class="form-label">Confirm New Password</label>
            {{form.new_password2}}
            {{form.new_password2.errors}}
        </div>

        <button type="submit" class="btn btn-primary">Update New Password</button>
    </form>

</div>
{% endblock %}

{% block js_block %}
<script>
    //Query All input fields
    var form_fields = document.getElementsByTagName('input')

    for (var field in form_fields) {
        form_fields[field].className += ' form-control'
    }
</script>

{% endblock %}