body,
html{
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.custom-body-content{
    background-color: transparent;
    margin-top: auto;
    margin-bottom: auto;
}

.reset-password{
    background-color: #fff;
    max-width: 450px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}